<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TZDJPX3DB6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TZDJPX3DB6');
    </script>

    <meta charset="UTF-8">
    <title>Articles</title>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/css/styles.css">

    <!-- Bulma integration -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!--
    <link rel="stylesheet" href="static/css/debug.css">
    -->

</head>

<body class="body">

    <!-- section for the breadcrumb : hero -->
    <section class="hero background-color">
        <div class="hero-body">
            <nav class="breadcrumb has-bullet-separator center is-medium" aria-label="breadcrumbs">
                <ul>
                    <li><a href="/"><p class="orange">Home</p></a></li>
                    <li class="is-active"><a href="">Articles</a></li>
                    <li><a href="/bitcoin"><p class="orange">Bitcoin</p></a></li>
                    <li><a href="/lightning"> <p class="orange">Lightning</p></a></li>
                    <!--<li><a href="/videos"><p class="orange">Videos</p></a></li>-->
                </ul>
            </nav>
        </div>
    </section>

    <div class="columns">
        <div class="column is-half is-offset-one-quarter">

            <!-- section for the text : content -->
            <section class="section">

                <!-- first paragraph -->
                <div class="content" id="welcome">
                    <h1 class="title is-3 center">Articles</h1><br><br>
                    <p class="subtitle is-6 text">Here you can find articles I read and found so interesting that I thought I should share them in a special way.<br><br>
                        There are different categories like Financial Markets, Technology, and probably more to come.<br><br>
                        I hope you'll enjoy it!</p><br>
                </div><br class="br1">

                    <hr class="hr"><br>
                    <div class="content" id="finance">
                        <h3 class="title is-5 center"> Trading & Financial Markets </h3><br>
                        <ul>
                            <li><a class="link-title" href="https://www.collaborativefund.com/blog/well-get-through-this/" target="_blank">We’ll Get Through This</a><br>
                                <p class="text">A short article from Collaborative Fund's blog,
                                    about how business and the markets will always come back.</p>
                            </li><br class="br1">
                            <br>

                            <li><a class="link-title" href="https://www.oaktreecapital.com/docs/default-source/memos/which-way-now.pdf" target="_blank">Which Way Now ?</a><br>
                                <p class="text">Latest memo of Howard Marks from March 31 to Oaktree Capital clients about the different possible scenarios on the markets,
                                    and what he sees as more likely to happen.</p>
                            </li><br class="br1">
                            <br>

                            <li><a class="link-title" href="https://russellinvestments.com/ca/insights/the-market-cycle-of-emotions" target="_blank">Markets, Trading, and Emotions</a><br>
                                <p class="text">In this article, the author talks about the different psychological stages of investing and market cycles.</p>
                            </li><br class="br1">
                            <br>

                            <li><a class="link-title" href="https://awealthofcommonsense.com/2020/02/market-have-always-been-rigged-broken-manipulated/" target="_blank">Markets Have Always Been Rigged, Broken & Manipulated</a><br>
                                <p class="text">An article from Ben Carlson about how markets are rigged and there is no way around accepting and dealing with it.</p>
                            </li><br class="br1">
                            <br>

                            <li><a class="link-title" href="http://www.collaborativefund.com/blog/getting-rich-vs-staying-rich/" target="_blank">Getting Rich vs. Staying Rich</a><br>
                                <p class="text">Another short article from Collaborative Fund's blog in which Morgan Housel explains how staying rich is much more difficult than becoming it.</p>
                            </li><br class="br1">
                            <br>
                        </ul>
                    </div>


                    <hr class="hr"><br>
                    <div class="content" id="technology">
                        <h3 class="title is-5 center">Technology</h3><br>
                        <ul>
                            <li><a class="link-title" href="https://knightcolumbia.org/content/protocols-not-platforms-a-technological-approach-to-free-speech" target="_blank">Protocols, Not Platforms: A Technological Approach to Free Speech</a>
                                <p class="text">Very interesting article about how building protocols instead of platforms could help us solve many of the problems we face today with internet. (around 30-40 minutes read)</p>
                            </li><br class="br1">
                            <br>
                            <li><a class="link-title" href="https://techcrunch.com/2019/06/03/apple-is-now-the-privacy-as-a-service-company/" target="_blank">Apple, now the privacy-as-a-service company</a>
                                <p class="text">How Apple is taking a privacy-focused path to protect its users from online abuses. </p>
                            </li><br class="br1">
                            <br>
                            <li><a class="link-title" href="https://www.visualcapitalist.com/how-much-data-is-generated-each-day/" target="_blank">How Much Data is Generated Each Day?</a>
                                <p class="text">An infographic about daily data-generation, to help get its measure.</p>
                            </li><br class="br1">
                            <br>
                        </ul><br>
                    </div>

                <!--
                <div class="content" id="others">
                    <h3 class="title is-6">Others</h3>
                    <ul>
                        <li><a href="https://www.youtube.com/watch?v=5MuIMqhT8DM"><u>Sleep is your superpower | Matt Walker</u></a>
                            : Ted</li>
                        <li>link 2</li>
                        <li>link 3</li>
                    </ul><br>
                </div>
                -->
            </section>


        </div>
    </div>

    <footer class="footer background-color">
      <div class="content has-text-centered">
        <p>
          Made by Gustave Laurant in April 2020.<br>
            You can reach me on <a class="orange" href="https://twitter.com/tutalaurant">Twitter</a> or
            <a class="orange" href="https://www.linkedin.com/in/gustave-laurant-8a2214122/">LinkedIn</a>.
        </p>
      </div>
    </footer>

</body>
</html>