<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="static/css/styles.css">

    <!-- Bulma integration -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!--
    <link rel="stylesheet" href="static/css/debug.css">
    -->


</head>

<body>



    <div class="columns">
        <div class="column is-half is-offset-one-quarter">

            <!-- section for the breadcrumb : hero -->
            <section class="hero">
                <div class="hero-body">
                    <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
                      <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/articles">Articles</a></li>
                        <li class="is-active"><a href="/">Bitcoin</a></li>
                        <li><a href="/videos">Videos</a></li>
                      </ul>
                    </nav>
                </div>
            </section>

            <!-- section for the text : content -->
            <section class="section">
                <div class="content" id="welcome">
                    <h1 class="title is-3">Coming soon!</h1><br>
                    <p class="subtitle is-5">Here you can find educational content about Bitcoin.<br>
                        I hope you'll enjoy it!</p>
                </div><br>
                <div class="content" id="videos">
                    <h3 class="title is-6"> Bitcoin </h3>
                    <ul>
                        <li>link 3</li>
                    </ul><br>
                </div>
            </section>


        </div>
    </div>

</body>
</html>