<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Welcome</title>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/css/styles.css">

    <!-- Bulma integration -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!--
    <link rel="stylesheet" href="static/css/debug.css">
    -->

</head>

<body class="body">

    <!-- section for the breadcrumb : hero -->
    <section class="hero background-color">
        <div class="hero-body">
            <nav class="breadcrumb has-bullet-separator center is-medium">
                <ul>
                    <li class="is-active"><a href=""><p> Home</p></a></li>
                    <li><a href="/bitcoin"> <p class="orange">Bitcoin</p></a></li>
                    <li><a href="/lightning"> <p class="orange">Lightning</p></a></li>
                    <li><a href="/other"><p class="orange"> Other</p></a></li>
                </ul>
            </nav>
        </div>
    </section>

    <div class="columns">
        <div class="column is-half is-offset-one-quarter">

            <!-- section for the text : content -->
            <section class="section">
                <div class="content" id="welcome">
                    <h1 class="title is-3 center">Welcome!</h1><br><br>
                    <p class="subtitle is-6 text">On this website, you will find resources about Bitcoin, cryptocurrencies, and other topics, that helped me understand them better.<br><br>
                        Alongside specific sections for Bitcoin and Lightning, you can find more articles about DeFi, Trading, Financial Markets or Technology.<br><br>
                        I hope that you will like what you read, and to add more things in the future, enjoy!</p>
                </div><br>

                <!-- div for the lists of articles -->
                <div class="content" id="latest">
                    <h3 class="subtitle is-5">My latest article : <a class="link-title" href="https://medium.com/@gus.laurant/quick-recap-about-yearn-yfi-and-the-innovation-it-represents-7b5629f2feeb" target="_blank">A recap of what I find the most interesting innovation in DeFi right now : Yearn Finance</a> </h3>
                    <h3 class="subtitle is-5">Understand Bitcoin in 5 minutes : <a class="link-title" href="https://medium.com/free-code-camp/explain-bitcoin-like-im-five-73b4257ac833" target="_blank">Explain Bitcoin like I'm Five</a> </h3>
                    <h3 class="subtitle is-5">My Introduction To the Lightning Network : <a class="link-title" href="https://medium.com/@gus.laurant/introduction-to-the-lightning-network-ccbb49d28671" target="_blank">Introduction to the Lightning Network</a></h3>
                </div>
            </section>
        </div>
    </div>

    <footer class="footer background-color">
      <div class="content has-text-centered">
        <p>
          Made by Gustave Laurant in April 2020.<br>
            You can reach me on <a class="orange" href="https://twitter.com/tutalaurant">Twitter</a> or
            <a class="orange" href="https://www.linkedin.com/in/gustave-laurant-8a2214122/">LinkedIn</a>.
        </p>
      </div>
    </footer>
</body>

</html>