<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TZDJPX3DB6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TZDJPX3DB6');
    </script>

    <meta charset="UTF-8">
    <title>LN</title>

    <link rel="stylesheet" href="static/css/styles.css">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">

    <!-- Bulma integration -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!--
    <link rel="stylesheet" href="static/css/debug.css">
    -->


</head>

<body class="body">
    <!-- section for the breadcrumb : hero -->
    <section class="hero background-color">
        <div class="hero-body">
            <nav class="breadcrumb has-bullet-separator center is-medium" aria-label="breadcrumbs">
                <ul>
                    <li><a href="/"><p class="orange">Home</p></a></li>
                    <li><a href="/articles"><p class="orange">Articles</p></a></li>
                    <li><a href="/bitcoin"><p class="orange">Bitcoin</p></a></li>
                    <li class="is-active"><a href="/"> Lightning</a></li>
                    <!--<li><a href="/videos"><p class="orange">Videos</p></a></li>-->
                </ul>
            </nav>
        </div>
    </section>


    <div class="columns">
        <div class="column is-half is-offset-one-quarter">

            <!-- section for the text : content -->
            <section class="section">
                <div class="content" id="welcome">
                    <h1 class="title is-3 center">Lightning Network resources</h1><br><br>
                    <p class="subtitle is-6 text"> This section´s goal is to teach you about the Lightning Network, a payment protocol built on top of bitcoin, making possible P2P instantaneous transactions at almost no cost.
                        It should allow bitcoin to scale and to finally be used as an efficient mean-of-payment.</p><br>
                </div><br>

                <hr class="hr"><br>
                <div class="content" id="innovation">
                    <h3 class="title is-5 center">The Lightning Network</h3><br>
                    <ul>
                        <li><a class="link-title" href="https://www.youtube.com/watch?v=rrr_zPmEiME" target="_blank">The Lightning Network Simply Explained</a><br>
                            <p class="text">5 minutes video explaining why LN was created, how it works and could allow bitcoin to scale.</p>
                        </li><br class="br1">
                        <br>

                        <li><a class="link-title" href="https://blog.lightning.engineering/posts/2018/05/02/lightning-ux.html" target="_blank">Lightning User Experience: A Day in the Life of Carol</a><br>
                            <p class="text">
                                A post by Lightning Labs, one of the three companies developing a lightning implementation, describing how LN would work from a user point-of-view and going through all the steps of the process.
                            </p>
                        </li><br class="br1">
                        <br>

                        <li><a class="link-title" href="https://suredbits.com/encryption-and-lightning-paywalls/" target="_blank">Some applications of Lightning</a><br>
                            <p class="text">
                                This article explores how the application and use of lightning paves the way for new innovative business models and completely changes the
                                nature of money online.
                            </p>
                        </li><br class="br1">
                        <br>

                        <li><a class="link-title" href="https://medium.com/breez-technology/2019-a-light-ning-year-of-progress-22648704a460" target="_blank">2019: A Light(ning) year of progress</a><br>
                            <p class="text">
                                An article by Breez Technologies, describing all the progress around Lightning made in 2019, and where we standed at the beginning of 2020.
                                The development of the protocol and the space is going very fast, and new possibilities are emerging on a weekly basis.
                            </p>
                        </li><br class="br1">
                        <br>
                    </ul><br>
                </div>

                <hr class="hr"><br>
                <div class="content" id="more">
                    <h3 class="title is-5 center">Lightning More in Depth</h3><br>
                    <ul>
                        <li><a class="link-title" href="https://www.forbes.com/sites/jonathanchester/2018/06/18/your-guide-on-the-lightning-network-the-opportunities-and-the-issues/#441a19573677" target="_blank">Your Guide On Bitcoin's Lightning Network: The Opportunities And The Issues</a><br>
                            <p class="text">A longer post published by Forbes, describing a broader view of the Lightning ecosystem.</p>
                        </li><br class="br1">
                        <br>

                        <li><a class="link-title" href="https://blog.lightning.engineering/posts/2018/05/30/routing.html" target="_blank">Exploring Lightning Network Routing</a><br>
                            <p class="text">
                                Another post by Lightning Labs, following up Carol and explaining the routing of transactions in the Lightning Network.
                            </p>
                        </li><br class="br1">
                        <br>
                    </ul><br>
                </div>
            </section>
        </div>
    </div>


    <footer class="footer background-color">
          <div class="content has-text-centered">
            <p>
              Made by Gustave Laurant in April 2020.<br>
                You can reach me on <a class="orange" href="https://twitter.com/tutalaurant">Twitter</a> or
                <a class="orange" href="https://www.linkedin.com/in/gustave-laurant-8a2214122/">LinkedIn</a>.<br><br>
                Address : 33vWQKtd5fPveTSAox1zYFDT23W1VV9sS4
            </p>
          </div>
    </footer>

</body>
</html>