<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Videos</title>

    <link rel="stylesheet" href="static/css/styles.css">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap" rel="stylesheet">

    <!-- Bulma integration -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!--
    <link rel="stylesheet" href="static/css/debug.css">
    -->


</head>

<body class="body">


    <!-- section for the breadcrumb : hero -->
    <section class="hero background-color">
        <div class="hero-body">
            <nav class="breadcrumb has-bullet-separator center is-medium" aria-label="breadcrumbs">
                <ul>
                    <li><a href="/"><p class="orange"> Home</p></a></li>
                    <li><a href="/articles"><p class="orange"> Articles</p></a></li>
                    <li><a href="/bitcoin"><p class="orange"> Bitcoin</p></a></li>
                    <li class="is-active"><a href=""><p> Videos</p></a></li>
                </ul>
            </nav>
        </div>
    </section>

    <div class="columns">
        <div class="column is-half is-offset-one-quarter">

            <!-- section for the text : content -->
            <section class="section">
                <div class="content" id="welcome">
                    <h1 class="title is-3 center">Videos</h1><br><br>
                    <p class="subtitle is-6 text">Here are some particularly interesting videos I wanted to share.<br><br>
                        Enjoy!</p><br>
                </div><br>

                <hr class="hr"><br>
                <div class="content" id="videos">
                    <h3 class="title is-5 center"> Videos </h3>
                    <ul>
                        <li><a class="link-title" href="https://www.realvision.com/shows/the-interview/videos/the-psychology-of-high-performers" target="_blank">The Psychology of High Performers</a>
                            <p class="text">This episode of The Interview from Real Vision talks about what high performers have in common and what are the different types</p>
                        </li><br class="br1">
                        <br>

                        <li><a class="link-title" href="https://www.youtube.com/watch?v=5MuIMqhT8DM" target="_blank">Sleep is your superpower - Matt Walker</a>
                            <p class="text">Ted talk by <em>Why we sleep?</em> author, a fascinating containing the most fascinating things about sleep</p>
                        </li><br class="br1">
                        <br>

                    </ul><br>
                </div>
            </section>
        </div>
    </div>

    <footer class="footer background-color">
          <div class="content has-text-centered">
            <p>
              Made by Gustave Laurant in April 2020.
                You can find me on <a class="orange" href="https://twitter.com/tutalaurant">Twitter</a> or
                <a class="orange" href="https://www.linkedin.com/in/gustave-laurant-8a2214122/">LinkedIn</a>.
            </p>
          </div>
    </footer>

</body>
</html>